* {
    font-family: "Poppins", sans-serif;
    letter-spacing: 2px;
  }
  
  .lightmode .container-fluid {
    background: #e9e9e9;
  }
  
  .lightmode .theme {
    background: #e9e9e9;
  }
  
  .lightmode .text-theme {
    background: #e9e9e9;
    color: #222020;
  }
  
  .form-check {
    cursor: pointer;
  }
  
  #checkbox {
    margin-top: 11px;
    width: 48px;
    height: 28px;
    cursor: pointer;
  }
  
  .home {
    /* margin-top: 58px; */
  }
  
  .navbar {
    margin-top: -10px;
  }
  
  .mode-toggler {
    margin-top: 70px;
  }
  
  .light-toggler {
    margin-right: 8px;
  }
  
  .text-color {
    color: #3686fe;
    text-decoration: none;
  }
  
  .text-color-3 {
    color: #e9e9e9;
    text-decoration: none;
  }
  
  .text-color-3 :hover {
    color: #3686fe;
    text-decoration: none;
  }
  
  .text-color-2 {
    color: #e9e9e9;
    text-decoration: none;
  }
  
  .text-nav:hover {
    background-color: #3686fe;
    color: blue;
    text-decoration: none;
  }
  
  .text-about:hover {
    background-color: #3686fe;
    color: #e9e9e9;
    text-decoration: none;
    /* border: 1px solid #3686fe; */
  }
  
  .text-about {
    padding-top: 12px;
    padding-bottom: 12px;
    border: solid 1px #3686fe;
    border-radius: 5px;
    color: #3686fe;
    background-color: transparent;
  }
  
  .text-nav {
    padding-top: 6px;
    padding-bottom: 6px;
    border: 1px solid #1d4889;
  }
  
  .social-icon:hover {
    text-decoration: none;
  }
  
  .more-about-button {
    margin-top: 30px;
  }
  
  .social {
    margin-top: 45px;
  }
  
  .social-2 {
    margin-top: 35px;
  }
  
  .image-top {
    padding-top: 135px;
    /* padding-right: 15px; */
  }
  
  .text-top {
    padding-top: 170px;
  }
  
  .offcanvas-body {
    margin-top: -1px;
  }
  
  .copyright {
    margin-top: 85px;
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  .copyright-2 {
    margin-top: 100px;
    font-size: 13px;
    letter-spacing: 1px;
  }
  
  .btn-border {
    border: 1px solid #3686fe;
  }
  
  .home-text-2 {
    margin-top: 128px;
  }
  
  .btn-hover:hover {
    background-color: #e9e9e9;
    color: #3686fe;
    text-decoration: none;
  }
  
  .btn-color {
    background-color: #3686fe;
    color: #e9e9e9;
    /* padding-top: 9px;
    padding-bottom: -10px; */
    border-radius: 25px;
  }
  
  .btn-color:hover {
    background-color: transparent;
    text-decoration: none;
    border: 1px solid #3686fe;
    color: #3686fe;
    /* padding-top: 9px;
    padding-bottom: -10px; */
  }
  
  .btn-color-2:hover {
    text-decoration: none;
  }
  
  .btn-close-sm {
    margin-left: px;
  }
  
  .btn-offcanvas {
    padding-top: 12px;
    padding-bottom: 12px;
    border-radius: 25px;
    background-color: transparent;
    color: #3686fe;
  }
  
  .btn-offcanvas:hover {
    background-color: #3686fe;;
    color: #e9e9e9;
    text-decoration: none;
  }
  
  #1a1a1a #222020 #e9e9e9 #1d4889;
  